lab04-05/04/BadmintonServers/BadmintonClientConsole/Service References/BadmintonServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BadmintonServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BadmintonServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBadmintonClub">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BadmintonClub" nillable="true" type="tns:BadmintonClub" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBadmintonClub" nillable="true" type="tns:ArrayOfBadmintonClub" />
  <xs:complexType name="BadmintonClub">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tournaments" nillable="true" type="tns:ArrayOfBadmintonTournament" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BadmintonClub" nillable="true" type="tns:BadmintonClub" />
  <xs:complexType name="ArrayOfBadmintonTournament">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BadmintonTournament" nillable="true" type="tns:BadmintonTournament" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBadmintonTournament" nillable="true" type="tns:ArrayOfBadmintonTournament" />
  <xs:complexType name="BadmintonTournament">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BadmintonTournament" nillable="true" type="tns:BadmintonTournament" />
  <xs:complexType name="ArrayOfBadmintonClubMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BadmintonClubMember" nillable="true" type="tns:BadmintonClubMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBadmintonClubMember" nillable="true" type="tns:ArrayOfBadmintonClubMember" />
  <xs:complexType name="BadmintonClubMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BadmintonClubMember" nillable="true" type="tns:BadmintonClubMember" />
</xs:schema>